<script>
// @ts-nocheck

    import {supabase} from '$lib/supabaseClient'
    import {readable, get} from 'svelte/store'
  
    /**
	 * @type {unknown}
	 */
     export let id
    /**
	 * @type {any}
	 */
     export let namech
    /**
	 * @type {any}
	 */
     export let content

     export let name
  
    // @ts-ignore
    async function addComment({target}) {
      const formData = new FormData(target)
  
      const {data, error} = await supabase
        .from('comments')
        .insert({
          content: formData.get('comment'),
          name: formData.get('name'),
          channel: id
        })
        document.getElementById("comment").value = '';
    }
  
    const comments = readable(null, (set) => {
	  supabase
		.from('comments')
		.select('*')
        .filter('channel','eq', id)
		// @ts-ignore
		.then(({error, data}) => set(data))
  
	  // add subscription to supabase logic
	  const subscription = 
        supabase
            .channel('comments:channel=eq.' + id)
            .on('postgres_changes',{ event: '*', schema: '*' }, (payload) => {
                if (payload.eventType === 'INSERT') {
                // @ts-ignore
                set([...get(comments), payload.new])
            }
            })
            .subscribe()
            return () => supabase.removeChannel(subscription)
    })
  </script>

<div class="flex flex-col flex-auto h-full p-6">
  <div
    class="flex flex-col flex-auto flex-shrink-0 rounded-2xl bg-gray-100 h-full w-full p-4">
    <div class="flex flex-col h-full  mb-4">
      <div class="flex flex-col h-full">
        <a href="/">
          <button class="flex flex-row h-10 ml-4 mt-2 rounded-lg">
            
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                  <path fill-rule="evenodd" d="M7.5 3.75A1.5 1.5 0 006 5.25v13.5a1.5 1.5 0 001.5 1.5h6a1.5 1.5 0 001.5-1.5V15a.75.75 0 011.5 0v3.75a3 3 0 01-3 3h-6a3 3 0 01-3-3V5.25a3 3 0 013-3h6a3 3 0 013 3V9A.75.75 0 0115 9V5.25a1.5 1.5 0 00-1.5-1.5h-6zm5.03 4.72a.75.75 0 010 1.06l-1.72 1.72h10.94a.75.75 0 010 1.5H10.81l1.72 1.72a.75.75 0 11-1.06 1.06l-3-3a.75.75 0 010-1.06l3-3a.75.75 0 011.06 0z" clip-rule="evenodd" />
                </svg>
                Keluar                                     
          </button>  
      </a>
        <div class="grid grid-cols-12 gap-y-2">
           <div class="w-screen col-start-1 col-end-8 p-3 rounded-lg">
            <div class="mx-11 my-5">
              <div class="chat-area flex-1 flex flex-col">
                  <div class="flex-3">
                      <h2 class="text-xl py-1 mb-8 border-b-2 border-gray-200"><b>{namech}</b></h2>
                  </div>
                  <div class="messages flex-1 overflow-auto">
                      <div class="message mb-4">
                          {#if $comments}
                              {#each $comments as {name, content, created_at} }
                                  <div class="mx-5 font-bold">{name}</div>
                                  <div class="flex-1 px-2">
                                      <div class="inline-block bg-gray-300 rounded-full p-2 px-6 text-gray-700">
                                          <span>{content}</span>
                                      </div>
                                      <div class="pl-4"><small class="text-gray-500">{created_at[11]}{created_at[12]}:{created_at[14]}{created_at[15]}</small></div>
                                  </div>
                              {:else}
                                  Belum Ada Chat! Ayo Mulai Chat Si Dia
                              {/each}
                          {:else}
                              Tunggu Sebentar.Post.. 
                          {/if}
                      </div>
                  </div>
      
              </div>
              <form on:submit|preventDefault={addComment}>
                <div
      class="flex flex-row items-center h-16 rounded-xl bg-white w-full px-4"
    >
      <div class="flex-1">
                        
        <div class="grid grid-rows-3 ">
            <div class="row-start-1 row-span-3"><input required name="name" class="flex w-full block outline-none py-4 px-4 bg-gray-100" row=1 placeholder="Tulis Nama Kamu" autofocus></div>
            <div class="row-start-1 row-span-3 ..."><input id="comment" name="comment" class="flex w-full block outline-none py-4 px-4 bg-gray-100" row=3 placeholder="Tulis Pesan" autofocus></div>
        </div>
    </div>
      <div class="ml-4">
        <button
          class="flex items-center justify-center bg-indigo-500 hover:bg-indigo-600 rounded-xl text-white px-4 py-1 flex-shrink-0"
        >
          <span>Kirim</span>
          <span class="ml-2">
            <svg
              class="w-4 h-4 transform rotate-45 -mt-px"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"
              ></path>
            </svg>
          </span>
        </button>
      </div>
    </div>
              </form>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>