<script>
// @ts-nocheck

	import {supabase} from '$lib/supabaseClient'
	import {readable, get} from 'svelte/store'
	import Post from '$lib/Post.svelte'
  
	/**
	 * @param {{ target: HTMLFormElement | undefined; }} e
	 */
	async function addPost(e) {
	  const formData = new FormData(e.target)
	  const {data, error} = await supabase
		.from('channels')
		.insert({
		  namech: formData.get('namech')
		})
		
	}
  
	const channels = readable(null, (set) => {
	  supabase
		.from('channels')
		.select('*')
		// @ts-ignore
		.then(({error, data}) => set(data))
  
	  // add subscription to supabase logic
	  const subscription = 
        supabase
            .channel('channels')
            .on('postgres_changes',{ event: 'INSERT', schema: '*' }, payload => {
                // @ts-ignore
                set([...get(channels), payload.new])
            })
            .subscribe()
            return () => supabase.removeChannel(subscription)
    })
  
  </script>

<div class="flex flex-col h-screen bg-center bg-cover bg-no-repeat bg-gray-100">
	<div class="grid place-items-center w-4/5 mx-auto p-10 my-20 sm:my-auto bg-white-600 border-4 border-neutral-focus bg-opacity-70 rounded-xl shadow-2xl space-y-5 text-center cursor-pointer">

		<h1 class="text-4xl font-bold uppercase text-neutral-focus transition duration-500">X-Chat</h1>
		<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
  
  
		</div>

		<main style="display: flex; flex-direction: column; align-items:center;">
			<form on:submit|preventDefault={addPost}>
			  <input placeholder="Masukkan Nama Channel Anda" name=namech class="input w-full max-w-xs"> <br>
			  <button class= "btn mt-5 animate-bounce">Tambah</button>
			</form>
		  
			<h2 class="mt-5 text-lg font-bold">List Channel</h2>
			{#if $channels} 
			  {#each $channels as post}
			  <button class="btn btn-outline mt-5 animate-pulse">
				<a href="/channel/{post.id}">
					{post.namech}
				</a>
			  </button>
			  {/each}
			{:else}
			  Loading..
			{/if}
		  </main>
	</div>
</div>